.navbar > .container-fluid {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
    display: none;
}

.header-img {
    height: 170px;
    margin-bottom: 0px;
}

.fa-solid {
  font-size: 30px;
  margin-right: 30px;
}

.navbar-brand {
  text-align: center;
}


.admin-menu {
    margin: 20rem auto;
}

.admin-title {
    text-align: center;
}

.contacto {
    height: 360px;
    width: 900px;
    /* margin de 6 rem arriba y abajo y auto en los costados para que se centre en pantallas grandes*/
    margin: 17rem auto;
    /*para que en pantallas pequenas deje un pequeno margen al costado*/
    padding: 30px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.25);
}

.form-control {
    width: 300px !important;
    margin: 5px;
}

.name-email {
  display: flex;
}

.galery {
  margin: 20rem auto;
}


#cf {
    position: relative;
    height: 400px;
    max-height: 470px;
    width: 450px;
    margin: 0 auto;
    cursor: pointer;
}

#cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

#cf img.top:hover {
    opacity: 0;
}

button {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}

button::before button::after {
    position: absolute;
    content: "";
    z-index: -1;

}

button:hover {
    border: 2px solid #000000;
    color: #e0e9e4;
    background-color: #27552a;
}

.notfound {

    padding: 6rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - 222px);
}

.notfound img {
    border: 0;
}

 .carrito{
    margin-top: 300px;
 }

.nosotros {
  max-width: 1200px;
  padding-top: 222px;
}

.buscar {
  margin-top: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}


