@import url('https://fonts.googleapis.com/css?family=ABeeZee:400|Anek+Tamil:400');

html {font-size: 100%;} /*16px*/

body {
  background: #e9e2e2;
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}



