.home-img {
  background-image: url("/images/otras/img de fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0 top 74%;
  height: 46rem;
  margin-top: 215px;
}

.home-img .text-box {
  color: rgb(255, 255, 255);
  text-align: center;
}

.home-img h1 {
  text-shadow: 1px 1px 2px #988088, 0 0 25px black, 0 0 5px black;
}

.galeria {
  display: grid;
  gap: 80px;
}

.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  text-align: center;
  background: none;
  border: none;
}
